<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Animal Placement Bureau | A non-profit dog rescue</title>
  </head>
  <body>
    <!-- The header  -->
    <header class="banner">
    </header>

    <!-- The navigation bar -->
    <nav class="nav">
    </nav>

    <!-- The main content  -->
    <main class="main">
    </main>

    <!-- The footer of the file -->
    <footer>
    </footer>

    <!-- below demonstrates how to display elements from a database model - 
         see the index function in views.py, and from there the relevant database model in 
         models.py for more detail -->
    {% if options %}
        <ul>
        {% for option in options %}
            <li><a href="/options/{{ option.option_id }}/">{{ option.option_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No options are available.</p>
    {% endif %}
  </body>
</html>
